
.container{
    background-color: rgb(225, 243, 248);
    height: 350px;;
    padding:100px;
    padding-top:40px;
    border:50px;
    margin:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image:url(img-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
    

    
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;

} 
nav ul li{
    display:inline-block;
    position:relative;
    top:0;
    float: right;

    
} 
nav ul li :hover{
    color:black;
}
nav ul{
    display:inline;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    padding:0;
    margin-left:0;
    
    
}
button{
    border:none;
    color:rgb(189, 110, 110);
    background-color:pink ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
}
a{
    text-decoration:none;
}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:normal;
    font-weight:lighter
}
img{
    width:150px;
    

}